body {
  align-items: center;
  background: #252935;
  color: #fff;
  display: grid;
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  justify-content: center;
  line-height: 1.4;
  margin: 0;
  min-height: 100vh;
  text-align: center;
}
.hero {
  font-size: calc(0.9em + 1.2vw);
}
.title {
  font-size: 2em;
  margin: 0 0 0.5em;
}
.subtitle {
  margin: 0;
}